section, h1 { 
    margin: 2rem 4rem;  
   } 
   .square {  
   width: 150px;   
   height: 150px; 
   background: blue;   
   position: relative; 
      }    
   /* The skew() method */ 
     #skew .square { 
     background-color: purple;    
   } 

   #skew .square:hover {   
    transform: skewX(45deg);
    
   } 
   
   /* The scale() method */ 
   
   #scale .square div {  
      background: #000;   
      position: absolute; 
      left: 25%; 
      top: 25%; 
      width: 75px; 
      height: 75px; 
   
   } 
   #scale .square div:hover { 
    transform: scale(1.5);
   
   } 
   /* The rotate() method */ 
      #rotate .square { 
     background-color: tomato; 
   
   } 
   
   #rotate .square:hover {
    animation: roll 3s infinite;
    transform: rotate(30deg);  
      
    
   } 
   @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
   
   /* The translate() method */ 
   
   #translate .square { 
   
     background-color: orange; 
   
   } 
   #translate .square:hover {  
    transform: translate(30px, 20px);
   
   } 